body {
    text-align: center;
    background-image: linear-gradient(gold, plum, white);
    font-family: 'Courier New', Courier, monospace;
}

.container img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.container p{
    text-align: center;
}


h2,p{
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

